.App {
  text-align: center;
}

button {
	
}

body {
  font-family: 'SourceCodePro';
}

body {
	background: linear-gradient(-60deg, #070200, #870b0b, #685751, #010a08, #000000);
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
	height: fit-content;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 90% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


